<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722027029787-qto21ena91q4l4rqnhvfcur47f7le69u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722027029787-qto21ena91q4l4rqnhvfcur47f7le69u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>722027029787-dalsq5di1dq31vqpup0rfjs7nva171ql.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD8-OMj2n7ejr8MqI63P4fGBhCRg7AcJAU</string>
	<key>GCM_SENDER_ID</key>
	<string>722027029787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.ezer.ruminate</string>
	<key>PROJECT_ID</key>
	<string>ruminatebe</string>
	<key>STORAGE_BUCKET</key>
	<string>ruminatebe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722027029787:ios:20f1ca79eef9b526fddfbe</string>
	<key>DATABASE_URL</key>
	<string>https://ruminatebe.firebaseio.com</string>
</dict>
</plist>